.menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  .menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    box-sizing: border-box;
    &:hover, &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
    }
    &.is-active, &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
  .submenu-item {
    position: relative;
    .submenu-title {
      display: flex;
      align-items: center;
    }
    .arrow-icon {
      margin-left: 3px;
      transition: transform .25s ease-in-out;
    }
    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
    .submenu {
      opacity: 0;
      list-style: none;
      padding-left: 0;
      white-space: nowrap;
      // display: none;
      transition: opacity .25s ease-in;
      &.is-open {
        // display: block;
        opacity: 1;
      }
      .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        color: $body-color;
        &.is-active, &:hover {
          color: $menu-item-active-color !important;
          border: none;
        }
      }
    }
  }
}
.is-vertical {
  &.is-open {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }
  .arrow-icon {
    transform: rotate(-90deg) !important;
  }
}
.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  border-right: $menu-border-width solid $menu-border-color;
  .menu-item {
    &.is-active, &:hover {
      border-bottom: 0px;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}

.menu-horizontal {
  .submenu-item {
    .submenu {
      position: absolute;
      background: $white;
      z-index: 100;
      top: calc(100% + 8px);
      left: 0px;
      border: $menu-border-width solid $menu-border-color;
      box-shadow: $submenu-box-shadow;
    }
  }
}

